[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Plugin/Listing"]
	path = Plugin/Listing
	url = git@github.com:davidyell/CakePHP-Listing.git
[submodule "Plugin/Linkable"]
	path = Plugin/Linkable
	url = https://github.com/lorenzo/linkable.git
[submodule "Plugin/Statusable"]
	path = Plugin/Statusable
	url = https://github.com/davidyell/CakePHP-Statusable.git
[submodule "Plugin/Utils"]
	path = Plugin/Utils
	url = https://github.com/davidyell/utils.git
[submodule "Plugin/ClearCache"]
	path = Plugin/ClearCache
	url = https://github.com/davidyell/clear_cache.git
